## [Start] Set default values. **
#set( $createdAt = $util.time.nowISO8601() )
## Automatically set the updatedAt timestamp. **
$util.qr($context.args.input.put("updatedAt", $util.defaultIfNull($ctx.args.input.updatedAt, $createdAt)))
## Automatically set the owner. **
$util.qr($context.args.input.put("owner", $util.defaultIfNull($ctx.args.input.owner, $ctx.identity.username)))

$util.qr($ctx.stash.put("typeName", "Mutation"))
$util.qr($ctx.stash.put("fieldName", "updateVacationRequest"))
## [End] Set default values. **

## [Start] Invoke AWS Lambda data source: UpdateVacationRequestLambdaDataSource. **
{
  "version": "2018-05-29",
  "operation": "Invoke",
  "payload": {
      "typeName": "$ctx.stash.get("typeName")",
      "fieldName": "$ctx.stash.get("fieldName")",
      "arguments": $util.toJson($ctx.arguments),
      "identity": $util.toJson($ctx.identity),
      "source": $util.toJson($ctx.source),
      "request": $util.toJson($ctx.request),
      "prev": $util.toJson($ctx.prev)
  }
}
## [End] Invoke AWS Lambda data source: UpdateVacationRequestLambdaDataSource. **